@media only screen and (max-width: 768px) {
    
    nav .fas {
        display: block;
        font-size: 25px;
    }

    nav ul {
        position: fixed;
        right: -200px;
        top: 0;
        background: #ff004f;
        width: 200px;
        height: 100vh;
        flex-direction: column;
        padding-top: 50px;
        z-index: 100;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 25px;
    }
    #close-menu {
        display: block;
    }
    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    
    .projects-list, .certificate-list {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}